<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Fish Weight</h1>
	<h2> Legenda para tipos de peixes: {'Bream':0, 'Parkki':1, 'Perch':2, 'Pike':3, 'Roach':4, 'Smelt':5, 'Whitefish':6} </h2>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Species" placeholder="Tipo de Peixe" required="required" />
        <input type="text" name="Length1" placeholder="Comprimento1" required="required" />
    	<input type="text" name="Length2" placeholder="Comprimento2" required="required" />
        <input type="text" name="Length3" placeholder="Comprimento3" required="required" />
    	<input type="text" name="Height" placeholder="Altura" required="required" />
        <input type="text" name="Width" placeholder="Largura" required="required" />
	

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
